[2010-11-04 17:37] jonrkarr opened #1 "Correction of KISAO:42"
Remove the "s" at "methods"

Reported by: gambardella

[2011-06-26 20:06] jonrkarr opened #2 "Add 'type of problem' or similar"
Some solver algorithms and implementations are specifically designed for solving ODE problems \(y\(0\) = y0, y' = f\(y, t\) \) while others solve more general DAE problems like y\(0\) = 0, F\(x, y, y', t\) = 0.

This could be addressed if there was a solver characteristic like 'type of problem'.

Reported by: a1kmm

[2011-06-26 20:17] jonrkarr opened #3 "Linear solver type property for algorithms where applicable"
Some algorithms depend on a linear solver, and some implementations let the users pick this type of linear solver \(e.g. IDA, which provides direct solvers along with solvers based on Krylov Subspace methods. I suggest Generalised Minimal Residual \(GMRES\) be a subset of Krylov Subspace Solvers, and Scaled, Preconditioned GMR \(SPGMR\) be treated as a specific type of GMRES; under Krylov Subspace

[2011-06-26 20:21] jonrkarr opened #4 "Property for numerical or analytic Jacobian"
There should be a way to describe whether the method used to compute the Jacobian matrix is numerical or analytic, and if it is numerical, what algorithm is used \(for example, finite differences\).

Reported by: a1kmm

[2011-06-26 20:49] jonrkarr opened #5 "Add terms for all algorithms supported by GSL"
To go through the list:

Explicit embedded Runge-Kutta \(2, 3\)  =&gt; No term yet
Explicit 4th order \(classical\) Runge-Kutta =&gt; Already KISAO\_0000032
Explicit embedded Runge-Kutta-Fehlberg \(4, 5\) method =&gt; Already KISAO\_0000086
Explicit embedded Runge-Kutta Cash-Karp \(4, 5\) method =&gt; No term yet
Explicit embedded Runge-Kutta Prince-Dormand \(8, 9\) method =&gt; No term yet.
Impli

[2011-06-29 13:03] jonrkarr commented on #1
- **status**: open --> closed

Original comment by: annazhukova

[2011-07-19 15:56] jonrkarr commented on #3
Fixed in revision 163.
'Linearity of equation' \(KISAO\_0000376\) characteristic was added and below are the KiSAO identifiers for the suggested Krylov subspace solvers:
Krylov Subspace method	                                                                               KISAO\_0000354
Generalised Minimal Residual \(GMRES\)	                                               KISAO\_0000353
Scaled, Prec

[2011-07-19 15:56] jonrkarr commented on #3
- **status**: open --> closed

Original comment by: annazhukova

[2011-07-19 16:01] jonrkarr commented on #5
Fixed in revision 163.
Below are the KiSAO identifiers for the suggested methods:

Explicit embedded Runge-Kutta \(2, 3\) =&gt; KISAO\_0000302 and 'has characteristic' some 'explicit method type' and 'uses' some \(Runge-Kutta based method' and 'has Runge-Kutta method order' value 2\)  and 'uses' some \('Runge-Kutta based method' and 'has Runge-Kutta method order' value 3\)
Explicit 4th order \(cla

[2011-07-19 16:01] jonrkarr commented on #5
- **status**: open --> closed

Original comment by: annazhukova

[2011-07-19 16:03] jonrkarr commented on #2
Fixed in revision 163.
See 'type of differential equation' sub-branch \(KISAO\_0000405\).

Original comment by: annazhukova

[2011-07-19 16:03] jonrkarr commented on #2
- **status**: open --> closed

Original comment by: annazhukova

[2015-04-22 11:51] jonrkarr opened #6 "add "optimization algorithm""
an optimization algorithm tries to find the minumum or maximum of an arbitrary function. It takes a function of one or several variables and determines the values for the variables so that the function value is optimal.

Reported by: *anonymous

[2015-04-22 11:57] jonrkarr opened #7 "add "local optimization algorithm""
a local optimization algorithm only finds a local optimum of a function. If several optima exist for the function, it usually depends on the starting values for the variables which optimum is found.

This is a kind of optimization algorithm.

Reported by: sahle

[2015-04-22 12:00] jonrkarr opened #8 "add "global optimization algorithm""
a global optimization algorithm tries to find the global optimum of a function. If a function has several minima/maxima with in the allowed range of variable values, the global minimum/maximum is the one with the smallest/largest function value.

Reported by: sahle

[2015-04-22 12:01] jonrkarr commented on #8
A global optimization algorithm is a kind of optimization algorithm

Original comment by: sahle

[2015-04-22 12:09] jonrkarr opened #9 "add "bayesian inference algorithm""
A bayesian inference algorithm calculates a posterior probability distribution from a prior probability distribution and some additional evidence in the form of a likelyhood function.

Reported by: sahle

[2015-04-22 23:09] jonrkarr opened #10 "Maximal Timestep Method"
From KiSAO surveymonkey:

Q3: Algorithm name (e.g. tau-leaping method):

Maximal Timestep Method
Q4: Short description:

Hybrid simulation algorithm integrating Gillespie exact simulation and Gillespie tau leap.
Q5: Reference (e.g. article name, DOI, PubMed id):

PMID: 14990466
Q6: Your comment:

Hybrid simulation method used to simulate systems involving reactions with propensities varying by man

[2015-04-22 23:10] jonrkarr opened #11 "maximum step size"
From KiSAO SurveyMonkey

Q1: Which type of term would you like to suggest?

    Algorithm parameter

Q10: Parameter name (e.g. absolute tolerance):

maximum step size
Q11: Parameter type:

    double

Q12: Short description:

An upper limit, in the units of the bound variable over which a numerical integration is being performed, that an adaptive step size numerical integration algorithm should ta

[2015-04-22 23:11] jonrkarr commented on #11
- **status**: open --> closed

Original comment by: gambardella

[2015-04-22 23:12] jonrkarr commented on #10
- **status**: open --> closed

Original comment by: gambardella

[2015-04-23 13:27] jonrkarr commented on #6
- **status**: open --> closed

Original comment by: annazhukova

[2015-04-23 13:27] jonrkarr commented on #6
Added in version 2.3.7

Original comment by: annazhukova

[2015-04-23 13:27] jonrkarr commented on #7
- **summary**: add "local optimiation algorithm" --> add "local optimization algorithm"
- **status**: open --> closed

Original comment by: annazhukova

[2015-04-23 13:27] jonrkarr commented on #7
Added in version 2.3.7

Original comment by: annazhukova

[2015-04-23 13:28] jonrkarr commented on #8
- **status**: open --> closed

Original comment by: annazhukova

[2015-04-23 13:28] jonrkarr commented on #8
Added in version 2.3.7

Original comment by: annazhukova

[2015-04-23 13:28] jonrkarr commented on #9
- **status**: open --> closed

Original comment by: annazhukova

[2015-04-23 13:28] jonrkarr commented on #9
Added in version 2.3.7

Original comment by: annazhukova

[2015-09-03 13:55] jonrkarr opened #12 "KiSAO id for "step size""
There doesn't seem to be a KiSAO id for "step size", which would be useful to have for one-step methods such as the [Euler forward method](http://bioportal.bioontology.org/ontologies/KISAO/?p=classes&conceptid=http%3A%2F%2Fwww.biomodels.net%2Fkisao%2FKISAO%23KISAO_0000030&jump_to_nav=true). There is [maximum step size](http://bioportal.bioontology.org/ontologies/KISAO/?p=classes&conceptid=http%3A%

[2015-09-03 15:20] jonrkarr commented on #12
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2015-09-10 14:51] jonrkarr commented on #12
Added in KiSAO version 2.3.8 with the id KISAO_0000483.

Original comment by: annazhukova

[2015-12-14 21:25] jonrkarr opened #13 "Tree viewer for KiSAO?"
The fact that kisao only exists as a .owl file makes it very hard to browse.  A system like SBO's tree viewer (http://www.ebi.ac.uk/sbo/main/tree) would be very helpful.

Reported by: luciansmith

[2015-12-14 22:32] jonrkarr commented on #13
Hi Lucian,

iSAO is on the NCBO Bioportal

http://bioportal.bioontology.org/ontologies/KISAO?p=classes

and the new Ontology Lookup service
http://www.ebi.ac.uk/ols/beta/ontologies/kisao

Original comment by: gambardella

[2015-12-15 20:20] jonrkarr commented on #13
Excellent!  I was going to ask if we could add a link to one or both of those at http://co.mbine.org/standards/kisao, but now that I look at it again, there's already a link there.  So either I missed it, or you put it in since I asked--either way, thanks!

Original comment by: luciansmith

[2016-01-25 23:12] jonrkarr opened #14 "New term request: maximum order"
Roadrunner has two parameters that one can set for deterministic runs:  'maximum_bdf_order' and 'maximum_adams_order'.  Both could be represented by a general 'maximum order' KiSAO term.

Reported by: luciansmith

[2016-01-25 23:13] jonrkarr opened #15 "New term request: minimum time step"
For any algorithm with variable step size, sometimes it is helpful to be able to set the minimum step size instead of just the maximum step size.

Reported by: luciansmith

[2016-01-25 23:14] jonrkarr opened #16 "New term request: maximum iterations"
For algorithms that iterate to a solution (steady state finders in particular), a limit on the number of iterations that should be performed is often helpful.

Reported by: luciansmith

[2016-01-25 23:15] jonrkarr opened #17 "New term request: minimum dampening"
The dampening factor is a variable for at least some steady state algorithms:  roadrunner allows you to set the minimum value for this.

Reported by: luciansmith

[2016-01-25 23:16] jonrkarr opened #18 "New term request: seed"
For any stochastic algorithm, being able to set the seed means you can reproduce your results if you run the same algorithm on the same computer.

Reported by: luciansmith

[2016-01-25 23:21] jonrkarr commented on #16
And an addendum from Jonathan Cooper on other algorithms that also iterate to a solution:  "CVODE for instance has 'maximum steps' as the limit on number of internal steps before an output point; iterative linear algebra solvers have 'maximum iterations', etc."

Original comment by: luciansmith

[2016-01-27 13:58] jonrkarr commented on #13
- **status**: open --> closed

Original comment by: annazhukova

[2016-02-02 18:55] jonrkarr commented on #14
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2016-02-02 18:55] jonrkarr commented on #14
Added in KiSAO version 2.3.9

Original comment by: annazhukova

[2016-02-02 18:56] jonrkarr commented on #15
- **status**: open --> closed

Original comment by: annazhukova

[2016-02-02 18:56] jonrkarr commented on #15
Added in KiSAO version 2.3.9

Original comment by: annazhukova

[2016-02-02 18:56] jonrkarr commented on #14
- **Type**: Algorithm --> Algorithm parameter

Original comment by: annazhukova

[2016-02-02 18:56] jonrkarr commented on #16
- **status**: open --> closed

Original comment by: annazhukova

[2016-02-02 18:56] jonrkarr commented on #16
Added in KiSAO version 2.3.9

Original comment by: annazhukova

[2016-02-02 18:57] jonrkarr commented on #17
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-02 18:57] jonrkarr commented on #17
Added in KiSAO version 2.3.9

Original comment by: annazhukova

[2016-02-02 18:57] jonrkarr commented on #18
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-02 18:57] jonrkarr commented on #18
Added in KiSAO version 2.3.9

Original comment by: annazhukova

[2016-02-03 02:20] jonrkarr opened #19 "New term requests: maximum Adams order and maximum BDF order"
As discussed on the sed-ml mailing list:

https://sourceforge.net/p/sed-ml/mailman/message/34816341/

it turns out that there are situations where a single algorithm must use two different 'maximum order' terms; one for maximum adams order, and a second for maximum BDF order.  I know you just added 'maximum order' (at my request--thank you!); can you now add maximum Adams order and maximum BDF ord

[2016-02-03 16:01] jonrkarr commented on #19
Hi Lucian,

I have found out (sorry, that I have not looked better before when adding 'maximum order') that these parameters are already described as KISAO_0000220 ('LSODA maximum non-stiff order', synonym: 'Adams max order'),  and KISAO_0000219 ('LSODA maximum stiff order', synonym: 'BDF max order'). However, they are LSODA-specific now. Would it be OK, if instead of creating new terms, I general

[2016-02-03 17:45] jonrkarr commented on #19
Aha!  I had looked for them myself, but also hadn't found them.  Sure, that'd be perfect.  And this is why I needed 'maximum order' in the first place, so feel free to back out 'maximum order' entirely, if that makes sense, and if we caught it in time.

Original comment by: luciansmith

[2016-02-03 18:03] jonrkarr commented on #19
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-03 18:03] jonrkarr commented on #19
Fixed in KiSAO version 2.3.10

Original comment by: annazhukova

[2016-02-05 09:33] jonrkarr opened #20 "Typo in rule-based simulation method"
"Such models consist of formal rules governing interactive behaviour. Rule-based simulation methods are methods, used to simulated such models."
should be:
"Such models consist of formal rules governing interactive behaviour. Rule-based simulation methods are methods, used to simulate such models."
and could be:
"Rule-based models consist of formal rules governing interactive behaviour. Rule-based

[2016-02-05 09:42] jonrkarr opened #21 "Fix definition of integration methods (kisao:KISAO_0000475)"
The definition reads:
Requested in https://sourceforge.net/p/kisao/feature-requests/12/ the integration method used by the solver

I think part of it is the commit comment :) and the definition should become:
the integration method used by the solver

Reported by: dagwa

[2016-02-08 11:44] jonrkarr opened #22 "Replace “Logical Model Simulation Method” (kisao:KISAO_0000448) by “Discrete Event Simulation algorithm”"
We suggest to replace the term "Logical Model Simulation Model", because “Discrete Event Simulation algorithm” is more generic, and it refers to the actual type of simulation rather than to the characteristic of the model.

altLabel:
DES

Definition:
Discrete Event Simulation algorithm refers to the simulation of systems whose (countable) discrete states change over time and are event-driven.

Ref

[2016-02-08 11:46] jonrkarr opened #23 "Remove “asynchronous logical model simulation method” (kisao:KISAO_0000450) and “synchronous logical model simulation method” (kisao:KISAO_0000449)"
We suggest to depricate these terms, because the rather describe the update policy of the model than the actual simulation algorithm.

Reported by: dagwa

[2016-02-08 11:50] jonrkarr opened #24 "Term request: asynchronous updating policy"
Create new term: asynchronous updating policy

Definition:
An updating policy where all enabled transitions (events) occur independently. Thus a state has as many successors as the number of transitions enabled in this state.

Position:
characteristics branch, as subclass of "type of updating policy" (kisao:KISAO_0000451)

Reported by: dagwa

[2016-02-08 11:52] jonrkarr opened #25 "Term request: synchronous updating policy"
Create new term: synchronous updating policy

Definition:
An updating policy where all enabled transitions occur simultaneously. Thus a state will have at most one successor.

Position:
characteristics branch, as subclass of "type of updating policy" (kisao:KISAO_0000451)

Reported by: dagwa

[2016-02-08 11:54] jonrkarr opened #26 "Term request: fully asynchronous updating policy"
Create new term: fully asynchronous updating policy

Definition:
An updating policy where all enabled transitions occur either independently or (partially) simultaneously. (i.e. considering all possible combinations of enabled transitions).  Thus a state has as many successors as the number of combinations of transitions enabled in this state .

Position:
characteristics branch, as subclass "async

[2016-02-08 11:58] jonrkarr opened #27 "Term request: random asynchronous updating policy"
Create term: random asynchronous updating policy

Definition:
An updating policy where a single transition is picked randomly from the set of transitions enabled in this state. Thus a state will have at most one successor.

Position:
characteristics branch, as subclass "asynchronous updating policy" (#25), which is suggested to be a subclass of "type of updating policy" (kisao:KISAO_0000451); as a

[2016-02-08 12:40] jonrkarr commented on #22
Those are different. Logic modelling refers to the way the values of variables is computed: using logical function instead of numerical computations. The fact that time is discretised is something else. I think logic modelling and discrete events are different fields, and actually different communities. And the community of logic modelling (i.e. colomoto etc.) want those terms.

However, I think t

[2016-02-08 12:42] jonrkarr commented on #23
But the update policy is a critical part of the logic modelling approach. Synchronous and asynchronous update will give different results (different state graphs).

Now, perhaps they should be parameters instead of algorithms.

Original comment by: gambardella

[2016-02-08 13:55] jonrkarr commented on #23
Indeed, see the other tickets I created. I should have mentioned it here: The idea is to remove the terms from the Algorithm branch and add the feature to the Characteristics branch (rahter than Parameters branch, actually)

Original comment by: dagwa

[2016-02-08 14:00] jonrkarr commented on #23
Adding them to the chararcteristics branch would not solve anything. You would still need two algorithms that bear those characteristics.

Original comment by: gambardella

[2016-02-08 19:10] jonrkarr commented on #23
Ok, so you would rather "double" the concepts and leave them in the algorithm branch as well as in the characteristics? This would be  fine with me.

Original comment by: dagwa

[2016-02-08 21:23] jonrkarr commented on #23
We do not double the concepts. If synchronicity is a characteristics, synchronous and asynchronous are two different simulation algorithms. That would be different if there was a parameter called synchronicity that would take two values, synchronous and asynchronous.

In any case, those terms have been requested by the colomoto community, for use in SED-ML. I think they should be the one deciding

[2016-02-08 22:38] jonrkarr opened #28 "Typo (mine): 'dampening' -> 'damping'"
My request for a new term had a typo I only just found when implementing SED-ML support:  the term should be 'minimum damping', not 'minimum dampening'.  Sorry!

Reported by: luciansmith

[2016-02-08 23:28] jonrkarr commented on #28
(You actually use the correct term as the name, but you faithfully reproduce my typo in

"The dampening factor is a variable for at least some steady state algorithms: roadrunner allows you to set the minimum value for this.")

Original comment by: luciansmith

[2016-02-19 14:48] jonrkarr commented on #20
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Other --> Algorithm

Original comment by: annazhukova

[2016-02-19 14:48] jonrkarr commented on #20
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:48] jonrkarr commented on #21
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2016-02-19 14:48] jonrkarr commented on #21
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:49] jonrkarr commented on #22
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-19 14:49] jonrkarr commented on #22
I have added a term for "Discrete Event Simulation Algorithm" in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:50] jonrkarr commented on #24
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-19 14:50] jonrkarr commented on #24
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:51] jonrkarr commented on #25
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm characteristic --> Algorithm

Original comment by: annazhukova

[2016-02-19 14:51] jonrkarr commented on #25
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:51] jonrkarr commented on #26
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2016-02-19 14:51] jonrkarr commented on #26
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:52] jonrkarr commented on #27
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm --> Algorithm characteristic

Original comment by: annazhukova

[2016-02-19 14:52] jonrkarr commented on #27
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:52] jonrkarr commented on #28
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2016-02-19 14:52] jonrkarr commented on #28
Fixed in version 2.3.11

Original comment by: annazhukova

[2016-02-19 14:54] jonrkarr commented on #23
- **status**: open --> closed

Original comment by: annazhukova

[2016-02-19 14:54] jonrkarr commented on #23
Let's keep the terms for now then. I have added the sudgected characteristic terms.

Original comment by: annazhukova

[2016-02-19 14:55] jonrkarr commented on #24
- **Type**: Algorithm --> Algorithm characteristic

Original comment by: annazhukova

[2016-02-19 14:55] jonrkarr commented on #25
- **Type**: Algorithm --> Algorithm characteristic

Original comment by: annazhukova

[2017-01-09 09:49] jonrkarr opened #29 "KLU solver"
As of version 2.6 the CVODES solver by SUNDIALS supports the sparse linear solver KLU from SuiteSparse (http://faculty.cse.tamu.edu/davis/suitesparse.html). Especially for large scale systems with sparse interactions it is important to specify this as linear solver as it will typically yield a substantial computational speedup.

I am not sure whether "algorithm characteristic" is correct. It shoul

[2017-01-09 17:42] jonrkarr commented on #29
Thank you for the term suggestion!
I have added KLU as an algorithm (KISAO_0000497). It is available since version 2.3.12.

Original comment by: annazhukova

[2017-01-09 17:42] jonrkarr commented on #29
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm characteristic --> Algorithm

Original comment by: annazhukova

[2017-07-13 22:02] jonrkarr opened #30 "Number of Runs"
This should indicate the number of runs that a simulation should perform.  It would typically be used to specify the number of runs for a stochastic simulation.

Reported by: cjmyers

[2017-07-18 17:57] jonrkarr commented on #30
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2017-07-18 17:57] jonrkarr commented on #30
Added since KiSAO 2.3.113

Original comment by: annazhukova

[2017-09-08 16:10] jonrkarr opened #31 "KISAO terms for DFBA"
Hi all,

I would need KISAO terms for the description of dynamic flux balance analysis (DFBA) as **algorithms**. In the following the 4 short terms, terms and description:

**DFBA: dynamic flux balance analysis**
"Dynamic flux balance analysis (DFBA) enables the simulation of dynamic biological systems by assuming organisms reach steady state rapidly in response to changes in the extracellular env

[2017-09-08 19:11] jonrkarr commented on #31
This kisao terms are critical to our project with Mattias to produce reproducible dynamic FBA simulations.

Original comment by: *anonymous

[2017-09-08 19:19] jonrkarr commented on #31
I would like these new terms as well.

Original comment by: *anonymous

[2017-09-12 15:52] jonrkarr commented on #31
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2017-09-12 15:52] jonrkarr commented on #31
Hello Matthias,

Thank you for the term suggestion and for their detailed description. The terms are now available (starting with KiSAO version 2.4) as KISAO_0000499 (dynamic FBA), KISAO_0000500 (SOA), KISAO_0000501 (DOA) and KISAO_0000502 (DA).

Original comment by: annazhukova

[2019-01-18 07:59] jonrkarr opened #32 "KISAO terms for parameter estimation / optimization"
Hello,

in order to be able to express parameter estimation tasks in SED-ML we need the capability of defining some optimization methods. Under:

KISAO_0000472:
Simulated Annealing
Random Search
Particle Swarm
Genetic Algorithm
- Genetic Algorithm SR
Evolutionary Programming
- Evolutionary Strategy (SRES)

and under KISAO_0000471:
Truncated Newton
Steepest Descent
Praxis
NL2SOL
Nelder - Mead
Leven

[2019-01-18 18:41] jonrkarr commented on #32
Hello Frank,

The requested terms should be available since KISAO version 2.5:

Simulated Annealing KISAO_0000503
Random Search KISAO_0000504
Particle Swarm KISAO_0000505
Genetic Algorithm KISAO_0000506
- Genetic Algorithm SR KISAO_0000507
Evolutionary Programming KISAO_0000508
- Evolutionary Strategy (SRES) KISAO_0000509

Truncated Newton KISAO_0000510
Steepest Descent KISAO_0000511
Praxis KISAO_

[2019-01-18 18:41] jonrkarr commented on #32
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-02-14 02:52] jonrkarr opened #33 "Add a KiSAO term for "combined solvers""
Some models require using combined solvers (e.g. CVODE + KINSOL). It would therefore be nice to have a KiSAO term for such combined solvers. The idea is that, using the forthcoming SED-ML L1V4, we will then be able to specify an algorithm as being a "combined solver", which first parameter is the KiSAO term for CVODE and the second parameter the KiSAO term for KINSOL, etc.

Reported by: agarny

[2020-02-14 08:22] jonrkarr commented on #33
At the moment, there is the term:

ID
KISAO:0000352

Preferred Name
hybrid method

Definitions
A simulation methods which combines the advantages of complementary simulation approaches: the whole system is subdivided into appropriate parts and different simulation methods operate on these parts at the same time.

However, there could be the need to distinguish between:

1) models which are partiti

[2020-02-16 20:42] jonrkarr commented on #33
Thanks Nicolas for telling me about `KISAO:0000352`. I clearly should have checked whether such a term didn't already exist!

From the definition, I understand that it applies to your first case. I am not sure whether `KISAO:0000352` would be suited for your second case...?

Either way, my particular need falls under your first case where we have DAE models that we solve as a system of ODEs (using

[2020-04-16 21:04] jonrkarr opened #34 "New term for partitioned leaping"
I'd like to propose a term for partitioned leaping:

name: partitioned leaping method

definition:
	Multiscale simulation approach for modeling stochasticity in chemical reaction networks.
	The approach seamlessly integrates exact-stochastic and "leaping" methodologies into
	a single partitioned leaping algorithmic framework. The technique correctly accounts
	for stochastic noise at significantly

[2020-04-16 21:07] jonrkarr opened #35 "New parameter for stop condition"
name: stop condition

definition: A condition upon which a simulation should terminate.

subClassOf: KISAO_0000201

isImplementedIn: BioNetGen

Reported by: jonrkarr

[2020-05-29 12:32] jonrkarr commented on #34
Dear Jonathan,

Thank you for a very well defined term suggestion. It is now added to KiSAO (starting from v2.6) as KISAO_0000524.

Original comment by: annazhukova

[2020-05-29 12:32] jonrkarr commented on #34
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-05-29 12:33] jonrkarr commented on #35
Thank you for a parameter suggestion. It is now added to KiSAO (starting from v2.6) as KISAO_0000525.

Original comment by: annazhukova

[2020-05-29 12:33] jonrkarr commented on #35
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2020-08-10 13:59] jonrkarr opened #36 "New algorithm for flux variability analysis"
name: flux variability analysis

altLabel: FVA

definition: Method for determining the minimum and maximum flux of each reaction that satisfies the flux constraints of the FBA model

subClassOf: KISAO_0000437

seeAlso: 10.1016/j.ymben.2003.09.002

isImplementedIn: COBRApy

Reported by: *anonymous

[2020-08-10 14:02] jonrkarr opened #37 "New algorithm for parsimonious FBA"
name: parsimonious Flux Balance Analysis

altLabel: parsimonious FBA

altLabel: pFBA

definition: Method for determining the smallest flux distribution among all flux distributions that satisfy the constraints of the FBA model

subClassOf: KISAO_0000437

seeAlso: 10.1038/msb.2010.47

isImplementedIn: COBRApy

Reported by: *anonymous

[2020-08-10 14:04] jonrkarr opened #38 "Algorithm for geometric FBA"
name: geometric Flux Balance Analysis

altLabel: geometric FBA

altLabel: gFBA

definition: Method for determining the central flux distribution among all flux distributions that satisfy the constraints of the FBA model

subClassOf: KISAO_0000437

seeAlso: 10.1016/j.jtbi.2009.01.027

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-10 14:11] jonrkarr opened #39 "Parameter for number of parallel processes"
name: parallelism

definition: Number of parallel processes to use

subClassOf: KISAO_0000201

algorithm: FVA
algorithm: gFBA

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-10 14:16] jonrkarr opened #40 "New parameter for fraction of optimum"
name: fraction of optimum

definition: Fraction of the optimum solution which must be maintained

subClassOf: KISAO_0000201

algorithm: FVA
algorithm: pFBA

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-10 14:19] jonrkarr opened #41 "Parameter for loopless"
name: loopless

definition: Whether to return only loopless flux solutions

subClassOf: KISAO_0000201

algorithm: FVA

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-10 14:24] jonrkarr commented on #37
One change:

name: parsimonious enzyme usage flux balance analysis

altLabel: parsimonious flux balance analysis

Original comment by: jonrkarr

[2020-08-10 14:29] jonrkarr opened #42 "Parameter for pFBA factor"
name: pFBA factor

definition: Maximum permissible sum of absolute fluxes

subClassOf: KISAO_0000201

algorithm: FVA

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-10 14:32] jonrkarr opened #43 "Parameter for reactions"
name: reactions

definition: Reactions to compute the variablity of

subClassOf: KISAO_0000201

algorithm: FVA

isImplementedIn: COBRApy

Reported by: jonrkarr

[2020-08-12 08:13] jonrkarr commented on #36
Thank you for a detailed term request! It is added to KiSAO version 2.7 as KISAO_0000526.

Original comment by: annazhukova

[2020-08-12 08:13] jonrkarr commented on #36
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:14] jonrkarr commented on #38
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:14] jonrkarr commented on #38
Thank you for a detailed term request! It is added to KiSAO version 2.7 as KISAO_0000527.

Original comment by: annazhukova

[2020-08-12 08:15] jonrkarr commented on #37
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:15] jonrkarr commented on #37
Thank you for a detailed term request! It is added to KiSAO version 2.7 as KISAO_0000528.

Original comment by: annazhukova

[2020-08-12 08:33] jonrkarr commented on #42
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:33] jonrkarr commented on #42
Thank you for a detailed term request! It is added to KiSAO version 2.7 as KISAO_0000533.

Original comment by: annazhukova

[2020-08-12 08:34] jonrkarr commented on #40
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2020-08-12 08:34] jonrkarr commented on #40
Thank you for the detailed term request! It is added to KiSAO version 2.7 as KISAO_0000531.

Original comment by: annazhukova

[2020-08-12 08:34] jonrkarr commented on #41
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:34] jonrkarr commented on #41
Thank you for the detailed term request! It is added to KiSAO version 2.7 as KISAO_0000532.

Original comment by: annazhukova

[2020-08-12 08:35] jonrkarr commented on #39
- **status**: open --> closed
- **assigned_to**: Anna Zhukova
- **Type**: Algorithm parameter --> Algorithm

Original comment by: annazhukova

[2020-08-12 08:35] jonrkarr commented on #39
Thank you for the detailed term request! It is added to KiSAO version 2.7 as KISAO_0000529.

Original comment by: annazhukova

[2020-08-12 08:35] jonrkarr commented on #43
- **status**: open --> closed
- **assigned_to**: Anna Zhukova

Original comment by: annazhukova

[2020-08-12 08:35] jonrkarr commented on #43
Thank you for the detailed term request! It is added to KiSAO version 2.7 as KISAO_0000534.

Original comment by: annazhukova

[2020-08-12 08:36] jonrkarr commented on #33
- **status**: open --> wont-fix

Original comment by: annazhukova

[2020-10-26 18:04] jonrkarr opened #44 "New algorithm for VODE"
name: Real-valued Variable-coefficient Ordinary Differential Equation solver, with fixed-leading-coefficient implementation

altLabel: VODE

altLabel: DVODE

definition: VODE provides implicit Adams method (for non-stiff problems) and a method based on backward differentiation formulas (BDF) (for stiff problems).

subClassOf: KISAO_0000433

seeAlso: 10.1137/0910062

isImplementedIn: SciPy, Odespy,

[2020-10-26 18:04] jonrkarr opened #45 "New algorithm for ZVODE"
name: Complex-valued Variable-coefficient Ordinary Differential Equation solver, with fixed-leading-coefficient implementation

altLabel: ZVODE

definition: ZVODE provides implicit Adams method (for non-stiff problems) and a method based on backward differentiation formulas (BDF) (for stiff problems).

subClassOf: KISAO_0000433

seeAlso: 10.1137/0910062

isImplementedIn: SciPy, Odespy, deSolve, Gi

[2020-10-26 18:04] jonrkarr opened #46 "New algorithm for RK23"
name: Explicit Runge-Kutta method of order 3(2)

altLabel: RK23

definition: RK23 uses the Bogacki-Shampine pair of formulas [1]. The error is controlled assuming accuracy of the second-order method, but steps are taken using the third-order accurate formula (local extrapolation is done). A cubic Hermite polynomial is used for the dense output.

subClassOf: KISAO_0000064

seeAlso: 10.1016/0893-965

[2020-10-26 18:34] jonrkarr opened #47 "New parameter for dopri5 safety"
name: safety

altLabel: safe

definition: Safety factor on new step selection

subClassOf: KISAO_0000242

algorithm: KISAO_0000087, KISAO_0000436

isImplementedIn: SciPy, JModelica, Odespy

Reported by: jonrkarr

[2020-10-26 18:34] jonrkarr opened #48 "New parameter for dopri5 dfactor"
name: dfactor

altLabel: fac1

definition: Minimum factor to increase/decrease step size by in one step. The new step-size is chosen subject to the restriction fac1 <= current step-size / old step-size <= fac2.

subClassOf: KISAO_0000242

algorithm: KISAO_0000087, KISAO_0000436

isImplementedIn: SciPy, JModelica, Odespy

Reported by: jonrkarr

[2020-10-26 18:35] jonrkarr opened #49 "New parameter for dopri5 ifactor"
name: ifactor

altLabel: fac2

definition: Maximum factor to increase/decrease step size by in one step. The new step-size is chosen subject to the restriction fac1 <= current step-size / old step-size <= fac2.

subClassOf: KISAO_0000242

algorithm: KISAO_0000087, KISAO_0000436

isImplementedIn: SciPy, JModelica, Odespy

Reported by: jonrkarr

[2020-10-26 18:35] jonrkarr opened #50 "New parameter for dopri5 beta"
name: beta

definition: Beta parameter for stabilised step size control

subClassOf: KISAO_0000242

algorithm: KISAO_0000087, KISAO_0000436

isImplementedIn: SciPy, JModelica, Odespy

Reported by: jonrkarr

[2020-10-26 18:36] jonrkarr opened #51 "New parameter for VODE Jacobian"
name: with Jacobian

definition: Specifies whether the iteration method of the ODE solver’s correction step is chord iteration with an internally generated full Jacobian or functional iteration with no Jacobian. Option is only considered when the user has not supplied a Jacobian function and has not indicated (by setting either band) that the Jacobian is banded.

subClassOf: KISAO_0000201

algorit

[2020-10-26 18:36] jonrkarr commented on #48
The milestone for this should be `Algorithm parameter`

Original comment by: jonrkarr

[2020-10-26 20:17] jonrkarr opened #52 "New parameter for CVODES stability limit detection flag"
name: stability limit detection flag

definition: Flag to activate stability limit detection

subClassOf: KISAO_0000242

algorithm: KISAO_0000496

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-26 20:29] jonrkarr opened #53 "New algorithm for IDAS"
name: IDAS

altLabel: implicit differential-algebraic solver with sensitivity analysis

definition: IDAS solves real differential-algebraic systems in N-space, in the general form F(t,y,y')=0, y(t0)=y0, y'(t0)=y'0 with sensitivity analysis.

subClassOf: KISAO_0000432, KISAO_0000284

seeAlso: 10.1145/1089014.1089020

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-26 20:37] jonrkarr opened #54 "New parameter for IDAS Error control strategy"
name: Error control strategy

definition: Error control strategy for sensitivity variables.

subClassOf: KISAO_0000242

algorithm: IDAS

isImplementedIn: Sundials

Reported by: jonrkarr

[2020-10-26 21:37] jonrkarr opened #55 "New algorithm for simplex method"
name: Simplex method

altLabel: Dantzig's simplex algorithm

definition: Approach to solving linear programming models by hand using slack variables, tableaus, and pivot variables as a means to finding the optimal solution of an optimization problem

subClassOf: KISAO_0000018, KISAO_0000472

seeAlso: https://projecteuclid.org/euclid.pjm/1103044531

isImplementedIn: CPLEX, GLPK, Gurobi

Reported by

[2020-10-26 21:46] jonrkarr opened #56 "New algorithm for interior point method"
name: primal-dual interior point method

definition: The Interior Point method approximates the constraints of a linear programming model as a set of boundaries surrounding a region.

subClassOf: KISAO_0000018, KISAO_0000472

seeAlso: 10.1137/0802028

isImplementedIn: CPLEX, GLPK, Gurobi

Reported by: jonrkarr

[2020-10-26 21:52] jonrkarr opened #57 "New algorithm for convex optimization"
name: convex optimization

definition: Optimization of a convex function over a convex set

subClassOf: KISAO_0000472

Reported by: jonrkarr

[2020-10-26 21:52] jonrkarr opened #58 "New parameter for optimization method"
name: optimization method

definition: Optimization method such as the revised simplex method or primal-dual interior point method

subClassOf: KISAO_0000201

isImplementedIn: CPLEX, GLPK, Gurobi

Reported by: jonrkarr

[2020-10-26 21:59] jonrkarr opened #59 "New parameter for optimization solver"
name: optimization solver

definition: Optimization solver such as CPLEX, GLPK, or Gurobi

subClassOf: KISAO_0000201

isImplementedIn: COBRApy, CBMPy, RAVEN

Reported by: jonrkarr

[2020-10-26 22:00] jonrkarr opened #60 "New algorithm for linear convex optimization"
name: linear convex optimization

definition: optimization of a linear convex problem

subClassOf: convex optimization

isImplementedIn: CPLEX, GLPK, Gurobi

Reported by: jonrkarr

[2020-10-26 22:01] jonrkarr opened #61 "New algorithm for quadratic convex optimization"
name: quadratic convex optimization

definition: optimization of a quadratic convex problem

subClassOf: convex optimization

isImplementedIn: CPLEX, Gurobi

Reported by: jonrkarr

[2020-10-26 22:32] jonrkarr opened #62 "New algorithm for parsimonious FBA (min number of active fluxes)"
name: parsimonius FBA (minimum number of active fluxes)

definition: A technique for selecting a parsimonious flux distribution which has a minimal number of active fluxes.

subClassOf: KISAO_0000437

isImplementedIn: CBMPy

Reported by: jonrkarr

[2020-10-27 11:01] jonrkarr opened #63 "Parameter for absolute quadrature tolerance for CVODES"
name: absolute quadrature tolerance

definition: absolute error tolerance of the adjoint solution

subClassOf: KISAO_0000211

algorithm: KISAO_0000496

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-27 11:02] jonrkarr opened #64 "Parameter for relative quadrature tolerance for CVODES"
name: relative quadrature tolerance

definition: relative error tolerance of the adjoint solution

subClassOf: KISAO_0000209

algorithm: KISAO_0000496

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-27 11:03] jonrkarr opened #65 "Parameter for absolute steady-state tolerance for CVODES"
name: absolute steady-state tolerance

definition: absolute error tolerance of the steady-state

subClassOf: KISAO_0000211

algorithm: KISAO_0000496

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-27 11:04] jonrkarr opened #66 "Parameter for relative steady-state tolerance for CVODES"
name: relative steady-state tolerance

definition: relative error tolerance of the steady-state

subClassOf: KISAO_0000209

algorithm: KISAO_0000496

isImplementedIn: SUNDIALS

Reported by: jonrkarr

[2020-10-27 12:07] jonrkarr opened #67 "New parameter for initial step size"
name: initial step size

definition: initial time step size

subClassOf: KISAO_0000242

algorithm: KISAO_0000019, KISAO_0000087, KISAO_0000088, KISAO_0000089, KISAO_0000436, VODE, ZVODE

isImplementedIn: SciPy, libRoadRunner, COPASI, GillesPy2

Reported by: jonrkarr

[2020-10-27 12:18] jonrkarr opened #68 "New algorithm for LSODA or LSODAR"
name: automatic LSODA/LSODAR

definition: Automatically use LSODA or LSODAR as apropriate for the  given problem. Use LSODA if the problem has no roots. Use LSODAR if the problem has roots.

subClassOf: KISAO_0000018, KISAO_0000035, KISAO_0000041

isImplementedIn: COPASI

Reported by: jonrkarr

[2020-10-27 14:33] jonrkarr opened #69 "New algorithm for Pahle hybrid Gibson-Bruck Next Reaction method/Runge-Kutta metho"
name: Pahle hybrid Gibson-Bruck Next Reaction method/Runge-Kutta method

definition: Combines a deterministic numerical integration of ODEs with a stochastic simulation algorithm. The whole biochemical network is partitioned into a deterministic and a stochastic subnet internally. The deterministic subnet contains all reactions in which only species with high particle numbers take part. All reacti

[2020-10-27 14:34] jonrkarr commented on #69
seeAlso: 10.1016/j.jbiotec.2017.06.1200, 10.1007/978-1-59745-525-1_2, 10.1093/bioinformatics/btl485, 10.5555/1218112.1218421

Original comment by: jonrkarr

[2020-10-27 14:35] jonrkarr commented on #69
Title should be "New algorithm for Pahle hybrid Gibson-Bruck Next Reaction method/Runge-Kutta method"

Original comment by: jonrkarr

[2020-10-27 14:36] jonrkarr opened #70 "New algorithm for Pahle hybrid Gibson-Bruck Next Reaction method/LSODA method"
name: Pahle hybrid Gibson-Bruck Next Reaction method/LSODA method

definition: Combines a deterministic numerical integration of ODEs with a stochastic simulation algorithm. The whole biochemical network is partitioned into a deterministic and a stochastic subnet internally. The deterministic subnet contains all reactions in which only species with high particle numbers take part. All reactions wi

[2020-10-27 14:37] jonrkarr opened #71 "Pahle hybrid Gibson-Bruck Next Reaction method/RK-45 method"
name: Pahle hybrid Gibson-Bruck Next Reaction method/RK-45 method

definition: Combines a deterministic numerical integration of ODEs with a stochastic simulation algorithm. The whole biochemical network is partitioned into a deterministic and a stochastic subnet internally. The deterministic subnet contains all reactions in which only species with high particle numbers take part. All reactions wi

[2020-10-27 15:07] jonrkarr opened #72 "New algorithm for stochastic Runge-Kutta method"
name: Stochastic Runge-Kutta method

definition: Technique for the approximate numerical solution of a systems of stochastic differential equations (SDEs). The method is a generalisation of the Runge-Kutta method for ordinary differential equations to stochastic differential equations.

subClassOf: KISAO_0000064

seeAlso: https://en.wikipedia.org/wiki/Runge%E2%80%93Kutta_method_(SDE)

isImplemente

[2020-10-27 15:10] jonrkarr opened #73 "New parameter for absolute tolerance for root finding"
name: absolute tolerance for root finding

definition: absolute error tolerance for root finding

subClassOf: KISAO_0000242

isImplementedIn: COPASI

Reported by: jonrkarr

[2020-10-27 15:13] jonrkarr opened #74 "New parameter for force physical correctness"
name: force physical correctness

definition: Indicates whether to force physical correctness

subClassOf: KISAO_0000243

isImplementedIn: COPASI

Reported by: jonrkarr

[2020-10-27 16:17] jonrkarr opened #75 "New algorithm for Stochastic differential equation method"
name: stochastic differential equation method

definition: Method for simulation a system of stochastic differential equations (SDEs)

subClassOf: KISAO_0000018, KISAO_0000035

Reported by: jonrkarr

[2020-10-27 20:43] jonrkarr commented on #75
Subclasses should be:

subClassOf: KISAO_0000018, KISAO_0000036

Original comment by: jonrkarr

[2020-10-27 20:47] jonrkarr opened #76 "New algorithm for nleq2"
name: Newton-type method for solveing non-linear (NL) equations (EQ)

definition: Damped Newton-algorithm with rank strategy for systems of highly nonlinear equations.

subClassOf: KISAO_0000408

seeAlso: 10.1.1.43.3751, 10.1007/978-3-642-23899-4

isImplementedIn: tellurium

Reported by: jonrkarr

[2020-10-28 18:52] jonrkarr opened #77 "New algorithm for Stochastic second order Runge-Kutta method"
name: Stochastic second order Runge-Kutta method

altLabel: RI5

definition: Technique for the second order approximate numerical solution of a systems of stochastic differential equations (SDEs). The method is a generalisation of the Runge-Kutta method for ordinary differential equations to stochastic differential equations.

subClassOf: stochastic Runge-Kutta method

seeAlso: 10.1137/060673308

[2020-10-28 19:21] jonrkarr opened #78 "New parameter for auto reduce tolerances"
name: auto reduce tolerances

definition: Whether to automatically reduce tolerances

subClassOf: KISAO_0000243

algorithm: KISAO_0000019

isImplementedIn: PySCeS

Reported by: jonrkarr

[2020-10-28 19:24] jonrkarr opened #79 "New parameter for absolute tolerance adjustment factor for CVODE"
name: absolute tolerance adjustment factor

definition: How much to adjust the absolute tolerance

subClassOf: KISAO_0000242

algorithm: KISAO_0000019

isImplementedIn: PySCeS

Reported by: jonrkarr

[2020-10-28 19:46] jonrkarr commented on #52
Change

subClassOf: KISAO_0000242, KISAO_0000243

Original comment by: jonrkarr

[2020-10-28 19:46] jonrkarr commented on #54
Change

subClassOf: KISAO_0000242, KISAO_0000243

Original comment by: jonrkarr

[2020-10-28 20:48] jonrkarr opened #80 "New parameter for noise level"
name: noise level

definition: standard deviation of the Gaussian noise which is added to each prediction

subClassOf: KISAO_0000201

isImplementedIn: BoolNet

Reported by: jonrkarr

[2020-10-28 20:53] jonrkarr opened #81 "New algorithm for probabilistic logical model simulation method"
name: probabilistic logical model simulation method

definition: Qualitative (logical) models specify the evolution rules of their components. Probabilistic networks allow for specifying more than one transition function per variable/gene. Each of these functions has a probability to be chosen, where the probabilities of all functions for one variable sum up to 1. Transitions are performed synchro

[2020-10-28 21:05] jonrkarr opened #82 "New parameter for species transition probabilities for asynchonrous logical model simulation method"
name: species transition probabilities

definition: probability of each species to be chosen for the next state transition

subClassOf: KISAO_0000201

algorithm: KISAO_0000450

isImplementedIn: BoolNet

Reported by: jonrkarr

[2020-10-29 16:03] jonrkarr opened #83 "Some recently added terms are not visibile in the Ontology Lookup Service"
Some recently added terms are not visibile in OLS. Examples:

- https://www.ebi.ac.uk/ols/ontologies/kisao/terms?iri=http://www.biomodels.net/kisao/KISAO#KISAO_0000526
- https://www.ebi.ac.uk/ols/ontologies/kisao/terms?iri=http%3A%2F%2Fwww.biomodels.net%2Fkisao%2FKISAO%23KISAO_0000534

Reported by: jonrkarr

[2020-10-29 18:49] jonrkarr commented on #75
Not needed. This has been superseded by the use of characterisitics.

Original comment by: jonrkarr

[2020-10-29 19:50] jonrkarr commented on #83
I filed a help ticket with OLS about this

Original comment by: jonrkarr

[2020-11-02 14:20] jonrkarr commented on #44
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:20] jonrkarr commented on #44
Incorporated as KISAO_0000535

Original comment by: jonrkarr

[2020-11-02 14:21] jonrkarr commented on #45
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:21] jonrkarr commented on #45
Incorporated as KISAO_0000491

Original comment by: jonrkarr

[2020-11-02 14:21] jonrkarr commented on #46
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:21] jonrkarr commented on #46
Incorporated as KISAO_0000537

Original comment by: jonrkarr

[2020-11-02 14:22] jonrkarr commented on #47
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:22] jonrkarr commented on #47
Incorporated as KISAO_0000538

Original comment by: jonrkarr

[2020-11-02 14:22] jonrkarr commented on #49
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:22] jonrkarr commented on #49
Incorporated as KISAO_0000540

Original comment by: jonrkarr

[2020-11-02 14:23] jonrkarr commented on #48
- **status**: open --> closed
- **Type**: Algorithm --> Algorithm parameter

Original comment by: jonrkarr

[2020-11-02 14:23] jonrkarr commented on #48
Incorporated as KISAO_0000539

Original comment by: jonrkarr

[2020-11-02 14:23] jonrkarr commented on #50
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:23] jonrkarr commented on #50
Incorporated as KISAO_0000541

Original comment by: jonrkarr

[2020-11-02 14:24] jonrkarr commented on #51
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:24] jonrkarr commented on #51
Incorporated as KISAO_0000542

Original comment by: jonrkarr

[2020-11-02 14:24] jonrkarr commented on #53
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:24] jonrkarr commented on #53
incorporated as KISAO_0000544

Original comment by: jonrkarr

[2020-11-02 14:25] jonrkarr commented on #52
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:25] jonrkarr commented on #52
Incorporated as KISAO_0000543

Original comment by: jonrkarr

[2020-11-02 14:26] jonrkarr commented on #55
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:26] jonrkarr commented on #55
Incorporated as KISAO_0000550

Original comment by: jonrkarr

[2020-11-02 14:26] jonrkarr commented on #56
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:26] jonrkarr commented on #56
Incorporated as KISAO_0000551

Original comment by: jonrkarr

[2020-11-02 14:27] jonrkarr commented on #57
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:27] jonrkarr commented on #57
incorporated as KISAO_0000546

Original comment by: jonrkarr

[2020-11-02 14:27] jonrkarr commented on #58
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:27] jonrkarr commented on #58
incorporated as KISAO_0000552

Original comment by: jonrkarr

[2020-11-02 14:28] jonrkarr commented on #59
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:28] jonrkarr commented on #59
incorporated as KISAO_0000553

Original comment by: jonrkarr

[2020-11-02 14:28] jonrkarr commented on #60
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:28] jonrkarr commented on #60
incorporated as KISAO_0000547

Original comment by: jonrkarr

[2020-11-02 14:29] jonrkarr commented on #61
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:29] jonrkarr commented on #61
incorporated as KISAO_0000548

Original comment by: jonrkarr

[2020-11-02 14:29] jonrkarr commented on #62
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:29] jonrkarr commented on #62
incorporated as KISAO_0000554

Original comment by: jonrkarr

[2020-11-02 14:30] jonrkarr commented on #63
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:30] jonrkarr commented on #63
incorporated as KISAO_0000555

Original comment by: jonrkarr

[2020-11-02 14:30] jonrkarr commented on #65
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:30] jonrkarr commented on #65
incorporated as KISAO_0000557

Original comment by: jonrkarr

[2020-11-02 14:31] jonrkarr commented on #64
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:31] jonrkarr commented on #64
incorporated as KISAO_0000556

Original comment by: jonrkarr

[2020-11-02 14:31] jonrkarr commented on #66
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:31] jonrkarr commented on #66
incorporated as KISAO_0000558

Original comment by: jonrkarr

[2020-11-02 14:32] jonrkarr commented on #67
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:32] jonrkarr commented on #67
incorporated as KISAO_0000559

Original comment by: jonrkarr

[2020-11-02 14:32] jonrkarr commented on #68
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:32] jonrkarr commented on #68
incorporated as KISAO_0000560

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #69
- **summary**: New parameter for reduce model --> New algorithm for Pahle hybrid Gibson-Bruck Next Reaction method/Runge-Kutta metho
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #69
incorporated as KISAO_0000561

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #71
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #71
incorporated as KISAO_0000563

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #70
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:33] jonrkarr commented on #70
incorporated as KISAO_0000562

Original comment by: jonrkarr

[2020-11-02 14:34] jonrkarr commented on #72
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:34] jonrkarr commented on #72
incorporated as KISAO_0000564

Original comment by: jonrkarr

[2020-11-02 14:35] jonrkarr commented on #73
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:35] jonrkarr commented on #73
incorporated as KISAO_0000565

Original comment by: jonrkarr

[2020-11-02 14:35] jonrkarr commented on #74
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:35] jonrkarr commented on #74
incorporated as KISAO_0000567

Original comment by: jonrkarr

[2020-11-02 14:36] jonrkarr commented on #75
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:36] jonrkarr commented on #76
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:36] jonrkarr commented on #76
incorporated as KISAO_0000569

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #77
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #77
incorporated as KISAO_0000566

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #78
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #78
incorporated as KISAO_0000570

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #79
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:37] jonrkarr commented on #79
incorporated as KISAO_0000571

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #80
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #80
incorporated as KISAO_0000572

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #81
- **status**: open --> closed

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #81
incorporated as KISAO_0000573

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #82
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:38] jonrkarr commented on #82
incorporated as KISAO_0000574

Original comment by: jonrkarr

[2020-11-02 14:39] jonrkarr commented on #54
- **status**: open --> closed
- **Type**: Algorithm parameter --> Algorithm

Original comment by: jonrkarr

[2020-11-02 14:39] jonrkarr commented on #54
incorporated as KISAO_0000545

Original comment by: jonrkarr

[2020-11-06 22:38] jonrkarr opened #84 "New algorithm for GillesPy2 Hybrid Tau-Leaping Method"
• Name: Hybrid Tau-Leaping Method
• Synonyms: None
• Brief description: A continuously coupled hybrid deterministic/stochastic simulation algorithm for biochemical networks. Biochemical species are classified as continuous, discrete, or switch. Tau-leaping is used to simulate stochastic species, and LSODA is used to simulate continuous species. Switch species are dynamically classified as either c

[2020-11-06 22:39] jonrkarr commented on #84
Will be added as KISAO_0000575

Original comment by: jonrkarr

[2020-11-19 18:51] jonrkarr commented on #84
- **status**: open --> closed

Original comment by: jonrkarr

[2020-12-14 19:49] jonrkarr commented on #83
This appears to be fixed

Original comment by: jonrkarr

[2020-12-14 19:49] jonrkarr commented on #83
- **status**: open --> closed
- **Type**: Other --> Algorithm

Original comment by: jonrkarr

[2021-03-24 15:36] #1 closed, assigned to nobody

[2021-03-24 15:36] #2 closed, assigned to nobody

[2021-03-24 15:36] #3 closed, assigned to nobody

[2021-03-24 15:36] #5 closed, assigned to nobody

[2021-03-24 15:36] #6 closed, assigned to nobody

[2021-03-24 15:36] #7 closed, assigned to nobody

[2021-03-24 15:36] #8 closed, assigned to nobody

[2021-03-24 15:36] #9 closed, assigned to nobody

[2021-03-24 15:36] #10 closed, assigned to nobody

[2021-03-24 15:36] #11 closed, assigned to nobody

[2021-03-24 15:43] #12 closed, assigned to annazhukova

[2021-03-24 15:43] #13 closed, assigned to nobody

[2021-03-24 15:43] #14 closed, assigned to nobody

[2021-03-24 15:43] #15 closed, assigned to nobody

[2021-03-24 15:43] #16 closed, assigned to nobody

[2021-03-24 15:43] #17 closed, assigned to annazhukova

[2021-03-24 15:43] #18 closed, assigned to annazhukova

[2021-03-24 15:43] #19 closed, assigned to annazhukova

[2021-03-24 15:43] #20 closed, assigned to annazhukova

[2021-03-24 15:43] #21 closed, assigned to annazhukova

[2021-03-24 15:43] #22 closed, assigned to annazhukova

[2021-03-24 15:44] #23 closed, assigned to nobody

[2021-03-24 15:44] #24 closed, assigned to annazhukova

[2021-03-24 15:44] #25 closed, assigned to annazhukova

[2021-03-24 15:44] #26 closed, assigned to annazhukova

[2021-03-24 15:44] #27 closed, assigned to annazhukova

[2021-03-24 15:44] #28 closed, assigned to annazhukova

[2021-03-24 15:44] #29 closed, assigned to annazhukova

[2021-03-24 15:44] #30 closed, assigned to annazhukova

[2021-03-24 15:44] #31 closed, assigned to annazhukova

[2021-03-24 15:44] #32 closed, assigned to annazhukova

[2021-03-24 15:44] #33 closed, assigned to nobody

[2021-03-24 15:44] #34 closed, assigned to annazhukova

[2021-03-24 15:44] #35 closed, assigned to annazhukova

[2021-03-24 15:44] #36 closed, assigned to annazhukova

[2021-03-24 15:44] #37 closed, assigned to annazhukova

[2021-03-24 15:44] #38 closed, assigned to annazhukova

[2021-03-24 15:44] #39 closed, assigned to annazhukova

[2021-03-24 15:44] #40 closed, assigned to annazhukova

[2021-03-24 15:45] #41 closed, assigned to annazhukova

[2021-03-24 15:45] #42 closed, assigned to annazhukova

[2021-03-24 15:45] #43 closed, assigned to annazhukova

[2021-03-24 15:45] #44 closed, assigned to jonrkarr

[2021-03-24 15:45] #45 closed, assigned to jonrkarr

[2021-03-24 15:45] #46 closed, assigned to jonrkarr

[2021-03-24 15:45] #47 closed, assigned to jonrkarr

[2021-03-24 15:45] #48 closed, assigned to jonrkarr

[2021-03-24 15:45] #49 closed, assigned to jonrkarr

[2021-03-24 15:45] #50 closed, assigned to jonrkarr

[2021-03-24 15:45] #51 closed, assigned to jonrkarr

[2021-03-24 15:45] #52 closed, assigned to jonrkarr

[2021-03-24 15:45] #53 closed, assigned to jonrkarr

[2021-03-24 15:45] #54 closed, assigned to jonrkarr

[2021-03-24 15:45] #55 closed, assigned to jonrkarr

[2021-03-24 15:45] #56 closed, assigned to jonrkarr

[2021-03-24 15:45] #57 closed, assigned to jonrkarr

[2021-03-24 15:45] #58 closed, assigned to jonrkarr

[2021-03-24 15:46] #59 closed, assigned to jonrkarr

[2021-03-24 15:46] #60 closed, assigned to jonrkarr

[2021-03-24 15:46] #61 closed, assigned to jonrkarr

[2021-03-24 15:46] #62 closed, assigned to jonrkarr

[2021-03-24 15:46] #63 closed, assigned to jonrkarr

[2021-03-24 15:46] #64 closed, assigned to jonrkarr

[2021-03-24 15:46] #65 closed, assigned to jonrkarr

[2021-03-24 15:46] #66 closed, assigned to jonrkarr

[2021-03-24 15:46] #67 closed, assigned to jonrkarr

[2021-03-24 15:46] #68 closed, assigned to jonrkarr

[2021-03-24 15:46] #69 closed, assigned to jonrkarr

[2021-03-24 15:46] #70 closed, assigned to jonrkarr

[2021-03-24 15:46] #71 closed, assigned to jonrkarr

[2021-03-24 15:46] #72 closed, assigned to jonrkarr

[2021-03-24 15:46] #73 closed, assigned to jonrkarr

[2021-03-24 15:46] #74 closed, assigned to jonrkarr

[2021-03-24 15:46] #75 closed, assigned to jonrkarr

[2021-03-24 15:46] #76 closed, assigned to jonrkarr

[2021-03-24 15:46] #77 closed, assigned to jonrkarr

[2021-03-24 15:46] #78 closed, assigned to jonrkarr

[2021-03-24 15:47] #79 closed, assigned to jonrkarr

[2021-03-24 15:47] #80 closed, assigned to jonrkarr

[2021-03-24 15:47] #81 closed, assigned to jonrkarr

[2021-03-24 15:47] #82 closed, assigned to jonrkarr

[2021-03-24 15:47] #83 closed, assigned to jonrkarr

[2021-03-24 15:47] #84 closed, assigned to jonrkarr

[2021-03-25 17:28] jonrkarr opened #85 "Add terms for (in)dependent variables of outputs of simulations"
@fbergmann @matthiaskoenig I'm building up a list of necessary terms here

- kinetic (e.g., SBML)
  - [x] time (urn:sedml:symbol:time)
  - [x] concentration
  - [x] amount
  - [x] particle number
  - [x] rate
  - [x] particle number rate
- flux balance (e.g., SBML-fbc)
  - [x] (objective) value
  - [x] flux
  - [x] reduced costs
  - [x] shadow prices
  - [x] min flux
  - [x] max flux
- logical (e.

[2021-03-25 17:29] jonrkarr opened #86 "Add terms for slices of dimensions of (in)dependent variables of outputs of simulations"
@fbergmann @matthiaskoenig I'm building up on list of necessary terms here

- [ ] initial (time)
- [ ] final (time)
- [ ] start -- applies to any type of dimension
- [ ] end -- applies to any type of dimension

[2021-03-25 17:31] jonrkarr opened #87 "Change redirect for biomodels.net from SourceForge to GitHub"
I contacted the BioModels team about this on 3/24. Rahumann is looking into it.

[2021-03-25 17:32] jonrkarr opened #88 "Automate release to BioPortal in GitHub action"
I'm not sure how the BioPortal API can be used for this. I contacted the BioPortal team for help on 3/24.

[2021-03-25 19:18] jonrkarr commented on #85
Here's the proposed organization:
![Screenshot from 2021-03-25 15-16-53](https://user-images.githubusercontent.com/2848297/112530894-53b91900-8d7d-11eb-8e5b-71e227b0c02c.png)

[2021-03-25 19:19] jonrkarr commented on #86
Here's the proposed organization:
![Screenshot from 2021-03-25 15-16-53](https://user-images.githubusercontent.com/2848297/112530894-53b91900-8d7d-11eb-8e5b-71e227b0c02c.png)

[2021-03-26 10:18] fbergmann commented on #85
that looks fine to me. (I might have chosen the names lower / upper bound for the flux for fbc problems, but it is fine to me).

[2021-03-26 13:48] jonrkarr commented on #85
I can add those as synonyms -- another benefit of organizing this
information as an ontology.

On Fri, Mar 26, 2021, 6:18 AM Frank Bergmann ***@***.***>
wrote:

[2021-03-26 16:42] hsauro commented on #85
Within the Jacobian matrix, there should also be reduced and full Jacobian
matrix. Also in the sensitivities we need:

Concentration Control Coefficients (scaled and unscaled)
Flux Control Coefficients (scaled and unscaled)
Response Coefficient (scaled and unscaled)
Elasticities (scaled and unscaled)

Also don't forget eigenvalues and eigenvectors.

To make it complete we should also add (possibly

[2021-03-26 22:10] matthiaskoenig commented on #85
It would be great if we could have amount and concentration on the same level. A concentration is not really an amount, so it would be great to have a more general term. E.g. `extent` so the tree would look like this
- `extent`
  - `amount`
  - `concentration`
  - `level`
  - `particle number`

What is propensity in this context?

The variable dimension slice seems not to fit in there. I think we

[2021-03-26 22:16] jonrkarr commented on #85
Extent/amount is easy to change.

Happy remove slicing and merge this into the variable branch with a combinatorial number of terms. Let's discuss slicing at the next SED-ML meeting to make sure we all align on 1 design.

[2021-03-26 22:30] luciansmith commented on #85
I feel like the two things you would need are 'current' and 'initial' (i.e.
not 'end', per se.)  However, if you queried the 'current' condition of a
variable before simulation, that would give you the 'initial', too, so
potentially would we only need 'current'?  It could easily be that I'm not
envisioning the same scenarios that the rest of you are.

-Lucian

On Fri, Mar 26, 2021 at 3:17 PM Jonat

[2021-04-01 18:34] maxneal commented on #85
I wanted to chime in here because it looks like many of the terms that are slated to be added to KiSAO in this thread are already represented and organized in the Ontology of Physics for Biology (OPB). For example, the OPB represents the concepts of time, concentration, particle number, and concentration/particle rates. In the interest of integrating knowledge resources across the COMBINE communit

[2021-04-02 01:03] jonrkarr commented on #85
This is one of the reasons I pushed to organize this information into an ontology -- to link all of the terms introduced into KiSAO to other ontologies, in particular OPB and SIO. In contrast, SED-ML's current approach of URNs doesn't provide a clear path to achieving something similar.

I thought about using OPB, SIO, or another ontology directly in SED-ML documents. In the context of SED-ML, the

[2021-04-02 21:49] maxneal commented on #85
Jonathan - could you provide a use case example that illustrates how attaching a mathematical meaning to an OPB term would be useful? I'm not super familiar with the end goals here nor how classifying model variables as concentrations, etc. would be used to support the computational execution of SED-ML docs. I'm trying to figure out whether it would make sense to add mathematical definitions to th

[2021-04-27 18:50] jonrkarr commented on #87
Done with help from @rsmsheriff.

[2021-04-27 18:50] #87 closed, assigned to jonrkarr

[2021-04-27 18:51] jonrkarr commented on #86
Moved to `dependent-variables` branch

[2021-04-27 18:51] jonrkarr commented on #85
Moved to `dependent-variables` branch

[2021-04-27 18:52] jonrkarr commented on #88
I haven't received a response from BioPortal. Their support email system appears to be hacked. I followed up on 4/27 to one of the developers.

[2021-04-29 07:11] jonrkarr commented on #88
Done

[2021-04-29 07:11] #88 closed, assigned to jonrkarr

[2021-06-03 20:34] luciansmith opened #90 "New terms for SED-ML use"
Unfortunately, I don't have enough information to fill out the 'new term' questionnaire for these terms, but would be happy to work with people to help fill out what needs to be filled out.

https://docs.google.com/spreadsheets/d/1f3rBUUhOsB6k7-i_ins0nlB7PTtd_huvhgFrCOh501U/edit#gid=0

Every term on the list I know is supportable by Tellurium, and I believe the majority if not all of them are also

[2021-06-03 21:05] jonrkarr commented on #90
Its pretty quick to edit with [protege](https://protege.stanford.edu/). I could give you a quick orientation over Zoom.

I think these terms should be added under a new trunk of the ontology. In addition to the terms you added, we'll need to add a few "organizational" terms to group the terms. This could follow the color groupings in your table.

Regarding tracking support for terms by simulation

[2021-06-03 21:13] luciansmith commented on #90
Sure, I can try that.  Should I just do what I can and create a pull request?

The only reason I mentioned simulation tools is that the auto-generated form had a spot asking about them, perhaps to ensure that terms weren't being added that had zero tool support.

[2021-06-03 21:30] jonrkarr commented on #90
That plan sounds good.

Protege is fairly straightforward. These are the key attributes to use:
- `rdfs:label` (`language:en`): primary name of each term
- `skos:altLabel` (`language:en`): synonyms
- `skos:definition` (`language:en`): description
- `isOrganizational` (`xsd:boolean`): `true` if the term is an abstract concept (i.e., shouldn't be used in a SED-ML document; only its children should b

[2021-06-03 22:19] matthiaskoenig commented on #90
If you give an introduction to updating KISAO with protege I would like to
join the zoom call.
Then I could help in making updates.

On Thu, Jun 3, 2021 at 11:31 PM Jonathan Karr ***@***.***>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Liver
Humboldt Universität zu Berlin, Institute of Biology, Institute for
Theoretical Biology
  https://livermetabolism.com

[2021-06-04 18:45] jonrkarr commented on #90
It looks like Lucian figured it out. I think the notes above are really all one needs to know about editing the ontology. I copied the notes above to the `CONTRIBUTING.md`.

[2021-06-04 18:56] jonrkarr commented on #90
I added missing data types and started to increment the version number for this.

Since KiSAO is largely independent of SBML and SED-ML, I suggest we generalize some of the names of the organizational terms so the names are less tied to their use with SBML, SED-ML, and specific algorithms. For example, "modelling and simulation implied variable" is somewhat specific to SBML's use of "time". NeuroM

[2021-06-04 18:58] jonrkarr commented on #4
This will be addressed by #85 and #90.

[2021-06-04 19:46] luciansmith commented on #90
The vast majority of these changes look great to me.  The minor exceptions:

* I put in 'full' in the definition of the three 'full' versions of the matrices, just to be explicit.
* We still need 'amount' and 'particle number' explicitly, so I made the intensive/extensive quantities categories.
* I'm not sure I like 'rate of change' in the 'model and simulation variable' category, since it's basic

[2021-06-04 23:12] jonrkarr commented on #90
To me an eigenvector matrix means full unless reduced is specifically stated. For that reason, I thought it makes sense to make ""full eigenvector matrix" a synonym of "eigenvector matrix". Same for the similar terms.

My thinking was to use variable characteristics similar to algorithm characteristics. They represent modifiers which be coupled to variables to indicate the specific dimensionality

[2021-06-04 23:48] luciansmith commented on #90
re; 'full':  your argument makes sense to me and I left the change; I just added '(full)' in the 'skos:definition' field, and left the rest as you had it.  I know Tellurium is always explicit in its API about which version you're asking for, so I tend to think of e.g. the reduced stoichiometry matrix as still being *a* stoichiometry matrix, just not the 'full' one.

re: intrinsic/extrinsic:  I'm h

[2021-06-05 00:08] jonrkarr commented on #90
I already made these changes. Let me know if you want to make more changes, or I should release this version.

Regarding integration with tellurium, when I release the version, the python package with KiSAO embedded into it will also be pushed to PyPI (`pip install kisao >= 2.16`).

Sounds good. I saw this.

Yes, in my opinion the "characteristic" terms shouldn't be embedded into SED-ML documents.

[2021-06-05 00:15] luciansmith commented on #90
Works for me--releasing this version sounds great.

[2021-06-05 03:54] jonrkarr commented on #90
I added merged in the terms I started in #85. In particular, this include amount rate, concentration rate, and particle number rate which some requested. This also includes terms for FBA and logical simulations.

[2021-06-05 03:59] #4 closed

[2021-06-05 04:00] #85 closed, assigned to jonrkarr

[2021-06-09 01:26] jonrkarr commented on #90
Closing. This is already released.

[2021-06-09 01:26] #90 closed, assigned to luciansmith, jonrkarr

[2021-06-09 01:28] jonrkarr opened #93 "SED-ML Aggregation function (New terms for count, stddev, variance)"
- count: number of non-zero elements
- mean
- median
- standard deviation
- variance
- length

[2021-06-09 19:40] matthiaskoenig commented on #93
* standard error

would be great in addition

[2021-06-14 23:25] luciansmith opened #94 "Clarify math functions as to whether to ignore NaN"
The new dimension-reducing functions min/max/mean/etc. do not say whether to ignore NaN values.  In theory, KiSAO could define a term for both versions (ignore/don't ignore), but at the least, the existing functions should clarify which version they are (and I vote for the 'ignore' version).

cf https://github.com/SED-ML/sed-ml/issues/56

[2021-06-14 23:30] jonrkarr commented on #94
Agreed. For concreteness, the existing terms could be implemented using NumPy `nanmean`, etc.

[2021-06-14 23:42] luciansmith commented on #94
Specified existing functions to ignore NaN, https://github.com/SED-ML/KiSAO/pull/95

[2021-06-14 23:45] jonrkarr commented on #94
Closed by #95

[2021-06-14 23:45] #94 closed, assigned to nobody

[2021-06-16 21:05] jonrkarr opened #96 "New terms for uniform time course attributes"
- [ ] Initial time
- [ ] Output start time
- [ ] Output end time
- [ ] Time step (to be observed)

[2021-07-22 19:17] matthiaskoenig opened #97 "Some KISAO terms do not match KISAO pattern"
The following terms have incorrect ids (the trailing `_` is incorrect):
[code]

Code example:
[code]

[2021-07-22 19:21] matthiaskoenig opened #98 "Some KISAO terms fail lookup with `get_normalized_id`"
The following term ids fail lookup when iterating over all term_ids using the `get_normalized_id` function:
[code]
Results in:
[code]

[2021-07-22 19:24] jonrkarr commented on #97
These are the terms @luciansmith created. These ids need to be corrected.

[2021-07-22 19:27] jonrkarr commented on #97
These ids also should have been added sequentially, starting from the greatest existing id.

[2021-07-22 21:06] matthiaskoenig opened #99 "labels of systems properties should be lowercase"
All labels start with lowercase in the KISAO ontology with exception of the newly added `systems property` children
https://bioportal.bioontology.org/ontologies/KISAO/?p=classes&conceptid=http%3A%2F%2Fwww.biomodels.net%2Fkisao%2FKISAO%23_KISAO_0000800

All labels of children should be lowercase with exception of `Jacobian matrix`, `L0 matrix` and `Nr matrix`.

[2021-07-22 21:09] jonrkarr commented on #99
KiSAO wasn't set up with this requirement.

[2021-07-22 21:14] matthiaskoenig commented on #99
Yes, but it would still be great if we could be as consistent as possible, especially for the new terms added.

[2021-07-22 21:17] jonrkarr commented on #99
These are the terms that @luciansmith added.

I agree, but I wouldn't consider this a bug. This is a request for an additional constraint and corresponding validation.

[2021-07-22 21:20] jonrkarr commented on #98
I'll have to look into this.

This is surprising. I'm just using a library that can parse OWL files. I don't know why it wouldn't be able to find some terms.

[2021-07-22 21:50] luciansmith commented on #99
I'm more than happy to modify things.  I was sort of blundering my way through adding the new terms ;-)

[2021-07-23 03:12] jonrkarr commented on #98
I can't reproduce this issue with pronto 2.4.1/2.4.2 and python 3.9.5.

I corrected the code above and added as a unit test: `libkisao/python/tests/test_ontology.py:test_term_ids_are_normalizable`.

[2021-07-23 03:34] #97 closed, assigned to jonrkarr

[2021-07-23 03:34] #99 closed, assigned to jonrkarr

[2021-07-23 03:37] jonrkarr commented on #99
Corrected in 2.21. Will be released to GitHub/Bioportal/PyPI soon.

Note, OLS still displays an older version. This will be updated when updates are propagated from OBO foundry. Not sure what that timeline is.

[2021-07-23 03:37] jonrkarr commented on #97
Corrected in 2.21.

[2021-07-23 08:04] matthiaskoenig commented on #93
Can we add the remaining functions under https://bioportal.bioontology.org/ontologies/KISAO/?p=classes&conceptid=http%3A%2F%2Fwww.biomodels.net%2Fkisao%2FKISAO%23KISAO_0000824?
Is there a documentation how to update terms? I could add these myself to get up to speed how to do this.

- [x] `maximum` (KISAO_0000828): The maximum of a set of values, ignoring NaN entries.
- [x] `minimum` (KISAO_000082

[2021-07-23 15:10] jonrkarr commented on #93
I put a brief guide to editing the ontology here: https://github.com/SED-ML/KiSAO/blob/dev/CONTRIBUTING.md#modifying-the-ontology. [Protege](https://protege.stanford.edu/) is a good editing tool. This makes it easy to see the relationships as you add terms. The existing terms are also a good reference.

Please also add a note about your changes to [CHANGELOG.md](https://github.com/SED-ML/KiSAO/blo

[2021-07-23 15:14] jonrkarr commented on #93
I agree with labels such as `mean` and `mean (ignoring NaN)`. This is similar to the names of NumPy functions (`mean`, `nanmean`) and the default configuration of MATLAB (`mean(..., nanflag)`). The "default" should be to include NaN such the result of a mean over a NaN is NaN.

[2021-07-30 19:28] luciansmith opened #100 "Add terms for terms of UniformTimeCourse"
I have put the following into the SED-ML specification, so it would be nice if they could be created for real.  I could do it, but I feel like I messed up a few things last time?  Anyway:

KISAO:0000840: start time
KISAO:0000841: max end time
KISAO:0000842: observed step size

[2021-07-30 19:30] luciansmith commented on #100
I also put in this, since I think it'll take too long to come up with something 'proper':

[code]

but if you think you can add something for these too, I'll stick those in.

(Also, I'm happy to change things before we submit.)

[2021-07-30 20:40] jonrkarr commented on #100
Go ahead and add the additional terms. The unit tests will check whether the ids are consistent (they should match `^KISAO_\d{7,7}$`). At Matthias' suggestion, I adopted the convention for names and synonyms that they should start with lowercase letters, except for proper names such as "DNA".

There's no term for reachability analysis yet. There is a term for identifying trap spaces of regulatory

[2021-10-09 15:48] matthiaskoenig commented on #93
The following terms have been added/updated. Pull request shortly:
- [x] `maximum ignoring NaN` (KISAO_0000828)
- [x] `minimum ignoring NaN` (KISAO_0000829
- [x] `mean ignoring NaN` (KISAO_0000825)
- [x] `standard deviation ignoring NaN` (KISAO_0000826)
- [x] `standard error ignoring NaN` (KISAO_0000827)
- [x] `maximum` (KISAO_0000830)
- [x] `minimum` (KISAO_0000840)
- [x] `mean` (KISAO_0000841)
-

[2021-10-09 16:01] #93 closed, assigned to matthiaskoenig

[2021-10-09 16:08] matthiaskoenig commented on #100
I think I figured out how to do the KISAO updates (@jonrkarr thanks for the great documentation).
@luciansmith If you provide the term definitions, I can add these terms: The actual KISAO terms will be different, because the ids are already used (KISAO_0000840, KISAO_0000841, KISAO_0000842).

- [ ] KISAO:0000XXX: start time
- [ ] KISAO:0000XXX: max end time
- [ ] KISAO:0000XXX: observed step size

[2021-10-09 16:14] matthiaskoenig opened #102 "Release 2.30 not triggered"
Not sure what went wrong, but it seems the release for the tag `2.30` was not triggered. I followed the instructions, but somehow this did not work.

See:
https://github.com/SED-ML/KiSAO/actions/runs/1323847111

@jonrkarr Could you release the `2.30` package?

[2021-10-09 16:53] matthiaskoenig opened #103 "Automatic update of KISAO on obo foundry and ontology lookup service (OLS)"
Currently the ontology lookup service (OLS) and opo foundry still use old versions of KISAO.
This should be fixed as soon as the following is merged:
https://github.com/OBOFoundry/purl.obolibrary.org/issues/787
Just opening this here to keep track of this and keep people in the loop.

Best Matthias

[2021-10-09 16:54] jonrkarr commented on #102
This is because the tag was different than the head of the dev branch. I'll delete the tag and add it again.

FYI, KiSAO is not updating in OLS. The migration of KISAO to github still hasn't fully propagated through the chain of sources (OBO foundry) that OLS relies on.

[2021-10-09 16:55] matthiaskoenig commented on #102
I already took care of the OLS issues (see https://github.com/SED-ML/KiSAO/issues/103). Should be fixed soon.

[2021-10-09 16:57] jonrkarr commented on #103
I've been trying to get this updated. The first link in the chain of sources has been updated for the migration to github. This still hasn't propagated through to OLS. I've talked to EBI about it. They're waiting on updates from their source. I think this is stuck in something that has an infrequent release schedule.

[2021-10-09 16:58] matthiaskoenig commented on #103
As I understood it they rely on obofoundry. As soon as this is updated OLS should follow with their next release.

[2021-10-09 17:02] jonrkarr commented on #103
Correct. Unfortunately, the release schedule is slow. The record in OLS was updated months ago.

[2021-10-09 17:03] jonrkarr commented on #103
BioPortal is up to date

[2021-10-09 17:06] jonrkarr commented on #103
The KiSAO record in OBO foundry has been updated. See below.

https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/ontology/kisao.md

[2021-10-10 02:11] jonrkarr commented on #102
Done

[2021-10-10 02:11] #102 closed, assigned to jonrkarr

[2021-10-10 02:13] jonrkarr commented on #98
Closing because there were errors in the original post and testing checks that all terms can be found.

[2021-10-10 02:13] #98 closed, assigned to nobody

[2021-10-10 02:35] jonrkarr commented on #100
I'd like to see parameters analogous to the attributes of `UniformTimeCourse`. This can be a way to document the meaning of those attributes within KiSAO and unify the existing types of simulations with the new `Analysis` class.
- Initial time
- Output start time
- Output end time
- Number of steps

I'd also like to see parameters that enable non-uniform time courses. We can outline some parameter

[2021-10-10 14:11] matentzn commented on #103
(Just for the record, the problem was the missing purl config, not metadata, that @matthiaskoenig added here: https://github.com/OBOFoundry/purl.obolibrary.org/pull/792/files)

Once https://github.com/OBOFoundry/purl.obolibrary.org/pull/792 is merged, you should ask the OLS team to prioritise reloading KISAO and from that point on, it will be fine.

[2022-01-18 17:15] pauleve opened #104 "New terms for mpbn"
The [Biosimulators_mpbn](https://github.com/colomoto/Biosimulators_mpbn)  wrapper for [mpbn](https://mpbn.readthedocs.io) implements algorithms which require new KiSAO terms for algorithms and algorithms characteristics:

## New Algorithm Characteristics:
- [x] NEW_C1 "Most Permissive updating policy": `KISAO_000000690`
    - [x] subclass of KISAO_0000450 "type of updating policy"
    - [x] Descri

[2022-01-21 00:56] jonrkarr commented on #104
I added the above terms to SED-ML/KiSAO#105. Before I release this as 2.31, I have a few questions/comments. @pauleve please share any thoughts.

"most permissive updating policy". I created this as a characteristic. Is it a property of an algorithm (characteristic) or an option to an algorithm that users can choose (parameter)?

This sounds like a property of the algorithm (characteristic), rathe

[2022-01-24 09:33] pauleve commented on #104
Great, many thanks!

It is really a property of an algorithm (it is an update policy different than asynchronous/synchronous)

Yes, I agree.

At first, I was a bit reluctant with this hierarchy: there is no simple connection between attractors and trap spaces (and even less direct with minimal trap spaces).
But it depends the meaning of being "a subclass": these objects are indeed related in one w

[2022-01-24 14:58] jonrkarr commented on #104
We can interpret this however we like. I was thinking about similarity between types of solutions. I didn't intend for this to suggest that the methods for calculating similar solutions are necessarily similar. I suggest annotating algorithms with multiple characteristics to keep track of multiple types of similarity between algorithms (e.g., result and method).

I can make this change

I've writt

[2022-01-24 15:21] pauleve commented on #104
This makes perfect sense to me. Having trap space as a subclass of attractors can definitely be defended, so we can keep it as is.

I'll send you here later that week the substitutions that would be nice to have.

[2022-01-24 15:33] jonrkarr commented on #104
Will do

For me, I found it helpful to think of this as a matrix (algorithm x algorithm). For each pair of algorithms, I thought about the degree to which I found them to be similar. Algorithms that produce different types of solutions (e.g., time course vs steady state, I felt to be substantially different, irrespective of whether the method might be similar). Algorithms that produce the same typ

[2022-03-09 11:06] pauleve commented on #104
Here are the links between the algorithms ; the "over-approximation" can be ignored (and trreaded as NO).
The second table is just the first one replaced with IDs.

A \ B : A can be substituted by B | Naldi MDD | Pauleve FP | BDD trap space | Klarner trap space | Pauleve trap space
-- | -- | -- | -- | -- | --
Naldi MDD |   | SAME_MATH (provided characteristics “Locally-monotone Boolean network”) |

[2022-03-09 20:01] jonrkarr commented on #104
This is very interesting and helpful! I hadn't thought about qualifiers to `SAME MATH`. I had been thinking of examples such as SSA and NRM which simulate the same statistical distribution (in contrast to, for example, SSA and tau-leaping). Now that I see how you've thought about this, I see where this would make sense. On the flip side, this would increase the complexity of specifying a level of

[2022-03-11 14:57] jonrkarr opened #106 "Enable query algorithms for recommendations for algorithms to be terms for abstract classes of algorithms (e.g., Gillespie-like rather than SSA)"

[2022-03-17 13:16] pauleve commented on #104
Maybe that "provided characteristics XXX" would be more accurate: the algorithms in `mpbn` are designed for locally-monotone BNs only; thus one should ensure that the BN fulfill this condition for substituting for instance KISAO_0000663 with KISAO_000000692. Note that it is not symmetric: KISAO_000000692 can always be substituted with KISAO_0000663, as the latter allow a more general class of mode

[2022-03-29 19:44] jonrkarr opened #108 "Fix typo in definition of "biological state optimization method""
Noticed by @liebermeister

accordion -> according

[2022-08-02 20:39] luciansmith opened #109 "Request: New base 'simulate in time' algorithm"
Right now, there's no base term for both LSODA-like and CVODE-like algorithms.  They are different from each other, but if one simulator uses one of them, a different simulator could probably use the other and obtain largely similar results.

This is in contrast to the other children of the 'modeling and simulation algorithm' base class that contains things like steady state solvers, or logical mo

[2022-08-02 22:18] jonrkarr commented on #109
This information is encoded using characteristics, rather than the parent-child hierarchy. As I understand, this was by design to enable KiSAO to more flexibly capture information than what's possible with just parent-child relationships.

[2022-08-02 22:29] luciansmith commented on #109
Ah, that makes sense.  However, I would still like a 'time course' KiSAO term, because then I can create more generic SED-ML files for the Analysis class (and the UniformTimeCourse class).

[2022-08-02 22:35] jonrkarr commented on #109
Time is not a special quantity to these algorithms. This is a mismatch between SED-ML UniformTimeCourse (where the variable of integration can only be time) and KiSAO (where the variable of integration can have any semantic meaning). While time is often the variable of integration, time is not always the variable of integration. In other words, time or time course is not a characteristic of these

[2022-08-02 22:47] luciansmith commented on #109
Sure, that works.  And then you could specify that you were integrating over time with a child term.